/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* Adding styles to the aside and filter form */
.form {
  margin-top: 10px;
}

.filters .panel-body {
  padding: 20;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 80%;
  width: 90%;
}

#map{
  margin-top:10;
  margin-left:10;
  margin-top:10;
  margin-right:10;
  padding:10;
}

