<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>House-A-Teacher Map</title>
      
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
        
        <!-- d3 JavaScript -->
        <script src="https://d3js.org/d3.v6.min.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <!-- Navigation bar -->
        <!--START Nav Bar-->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand">
            <img src="../assets/images/logo.png" width="150" height="80" alt="">
            </a>
            <!-- <a class="navbar-brand">House-A-Teacher</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
        
                </li>
                <li class="nav-item">
                <a class="nav-link" href=homepage.html>Home</a>
                </li>
                <li class="nav-item">        
                <a class="nav-link" href="map.html">Map</a>
                </li>
            </ul>
            </div>  
        </nav>
        <!--END Nav Bar-->
        <!-- <script src="//code.jquery.com/jquery.min.js"></script> -->
        <script>$.get("navbar.html", function(data){$("#nav-placeholder").replaceWith(data);});</script>
        
        <h1>Interactive Map</h1>
        <p>Use the map below to select houses for sale and nearby school information.</p>

        <!-- The div where we will inject our map and form -->
    
        <div id ="form">
            <div class=centerbutton>
            <form class="form inline">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <aside class="filters">
                            <div class="panel">
                                <div class="panel"><h1>Filter Search</h1></div>
                                    <div class="panel">
                                        <div class="form">
                                            <ul class="list" id="filters">
                                                <li class="filter list-group-item">
                                                <label for="limit">Max Number of Results</label>
                                                <input class="form-control" id="limit" type="text" placeholder="100">
                                                <label for="city">Enter a City in Georgia</label>
                                                <input class="form-control" id="city" type="text" placeholder="Atlanta">
                                                <label for="state">Enter a Max Price</label>
                                                <input class="form-control" id="maxprice" type="text" placeholder="300000">
                                                <label for="state">Enter a Max Age of Home</label>
                                                <input class="form-control" id="maxage" type="text" placeholder="10">
                                                <label for="country">Minimum Number of Bathrooms</label>
                                                <input class="form-control" id="minbath" type="text" placeholder="1">
                                                <label for="shape">Minimum Number of Bedrooms</label>
                                                <input class="form-control" id="minbed" type="text" placeholder="1">
                                                <label for="sortpref"><h5>Sort Results:</h5></label>
                                                <input class="radioinput" name="sort" type="radio" value="relevance"><label class="radiolabel" for="relevance">Relevance</label>
                                                <input class="radioinput" name="sort" type="radio" value="newest"><label class="radiolabel" for="newest">Newest</label>
                                                <input class="radioinput" name="sort" type="radio" value="price_low"><label class="radiolabel" for="price_low">Lowest Price</label>
                                                <input class="radioinput" name="sort" type="radio" value="price_high"><label class="radiolabel" for="price_high">Highest Price</label></br></form>
                                                <label for="schoolsort"><h5>School Types:</h5></label>
                                                <input class="checkinput" id="schoolsort" type="checkbox" value="Highschool"><label for="relevance">High School</label>
                                                <input class="checkinput" id="schoolsort" type="checkbox" value="Middleschool"><label for="relevance">Middle school</label>
                                                <input class="checkinput" id="schoolsort" type="checkbox" value="Elementaryschool"><label for="relevance">Elementary School</label>
                                                <input class="checkinput" id="schoolsort" type="checkbox" value="k12"><label for="relevance">K12</label></form>
                                                </li>
                                            </ul>
                                        
                                        <button id="filter-btn" type="button" class="btn btn-default">Filter Homes</button></div>
                                        <button id="clear-btn" type="button" class="btn btn-default">Clear Markers</button></div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div></div>
        </div>
        <!-- This is our Javascript -->
        <!-- <canvas id="myCanvas"> -->
            <div class="map float-right" id=map>
            <script type="text/javascript">
            window.onload = function () {
            // // Step 1
            let map = createMap();
            addBaseLayer(map);
            // createBorough(map);


            function createMap() {
                // Creating map object
                let map = L.map("map", {
                center: [33.776108, -84.397530],
                zoom: 15,
                });
                return map;
            };

            // Step 2
            function addBaseLayer(map) {
                let baseLayer = L.tileLayer(
                "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
                {
                    attribution:
                    "© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>",
                    tileSize: 512,
                    maxZoom: 18,
                    zoomOffset: -1,
                    id: "mapbox/streets-v11",
                    accessToken: "pk.eyJ1IjoiZGFzc2Nvb3RlciIsImEiOiJja2pwdHZzNHoxMXlmMnhwZWZkaWp6d2xiIn0.zc1HfeVEMzRwCEm_glvbUQ",
                }
                );
                baseLayer.addTo(map);
            };


            // Realtor API Query
            // Realtor API jQuery Code provided code: https://rapidapi.com/apidojo/api/realtor?endpoint=apiendpoint_e259775d-d98e-479f-8440-206d6d4fa892   

            //Set up the Filter Button
            var button = d3.select("#filter-btn");
            button.on("click", runEnter);

            var clear = d3.select("#clear-btn")
            clear.on("click", runClear);

            function runClear() {
                //Clear current markers
                location.reload();
            };

            //Start Filter Function
            function runEnter() {

            //Assign variables based on the filter form
            let selectedcity = d3.select("#city").property("value")
            let limit = d3.select("#limit").property("value")
            let minbed = d3.select("#minbed").property("value")
            // Use this once we have the sort radios figured out
            let sort = d3.select('input[name=radioinput]:checked')
            let minbath = d3.select("#minbath").property("value")
            let maxprice = d3.select("#maxprice").property("value")
            let maxage = d3.select("#maxage").property("value")

            //Load Realtor.com API with Filter variables assigned in the call
            const settings = {
                "async": true,
                "crossDomain": true,
                // Use this URL when we have the Sort Drop Down/Radial Buttons figured out
                "url": `https://realtor.p.rapidapi.com/properties/v2/list-for-sale?city=
                        ${selectedcity}&limit=${limit}&offset=0&state_code=GA&beds_min=
                        ${minbed}&sort=${sort}&baths_min=${minbath}&price_max=${maxprice}
                        &age_max=${maxage}`,
                // "url": `https://realtor.p.rapidapi.com/properties/v2/list-for-sale?city=
                //         ${selectedcity}&limit=${limit}&offset=0&state_code=GA&beds_min=
                //         ${minbed}&sort=relevance&baths_min=${minbath}&price_max=${maxprice}&age_max=${maxage}`,
                "method": "GET",
                "headers": {
                "x-rapidapi-key": "a32cef4e7fmshe42c5a1bfdbce17p135b01jsn21abc1df2bea",
                "x-rapidapi-host": "realtor.p.rapidapi.com"
                }
            };

            //Process Realtor.com API through for loop and append listings to map markers
            $.ajax(settings).done(function (response) {
                let querydata = [response]
                var propertyquery = querydata[0].properties
            //Start Loop, set max length based on number of properties returned in search
                for (var i = 0; i < propertyquery.length; i++) {
                var property = propertyquery[i]
            //Define variables on each property
                let lat = property.address.lat
                let lng = property.address.lon
                let location = [lat, lng]
                let bedcount = property.beds
                let bathcount = property.baths
                let pricecount = property.price
                let weburl = property.rdc_web_url
                let street = property.address.line
                let city = property.address.city
                let state = property.address.state
                let zip = property.address.postal_code
            //Append coordinates to map and assign property variables in the pop up
                var marker = L.marker(location)
                .bindPopup("<h1>" + street + "</h1> <hr> <h3>" + city + "," + state + " " + zip + 
                            "</h3> <br> <h4>Beds: " + bedcount + "<br>Baths: " + bathcount + 
                            "<br>Price: " + pricecount + '<br><a href="' + weburl + '">See on Realtor.com</a>')
                .addTo(map);
                }
            });
            };

            // create markers for schools
            d3.json("http://127.0.0.1:5000/data", function(data) {
            for (var i = 0; i < data.length; i++) {
                let lat = data[i][1]
                let lng = data[i][2]
                let location = [lat, lng]
                console.log(location)
                L.marker(location)
                // .bindPopup("<h1>" + data[i][0] + "</h1> <hr> <h3>City: " + data[i][4] + "</h3>")
                .addTo(map)
            }
            });};

            // Code for Background provided by https://codepen.io/cjgammon/pen/djcko
            // var myCanvas = document.getElementById('myCanvas'),
            // canDraw = myCanvas.getContext('2d');
            // //Create vars to control the width and height of the canvas
            // var maxX = innerWidth;
            // var maxY = innerHeight;
            // //This function sets the maxX and maxY values to the max width and height of the window
            // var resizeFunc = function(){
            //     maxX = window.innerWidth;
            //     maxY = window.innerHeight;
            //     document.getElementById('myCanvas').width = maxX;
            //     document.getElementById('myCanvas').height = maxY;
            // };

            // //Size the canvas to the screen on load
            // onload = resizeFunc;
            // //Reload the screen, resulting in a new skyline
            // onresize = function(){
            // location = location;
            // };

            // //Create starfield array
            // //First define star prototype
            // var Star = function(x,y) {
            //     this.x = x;
            //     this.y = y;
            // }
            // //Now create an empty array and loop through it to fill it with Star objects
            // var starArray = [];
            // for (var i = 0; starArray.length < 260; i++) {
            //     var myX = Math.ceil(Math.random()*maxX),
            //     myY = Math.ceil(Math.random()*maxY);
            //     starArray.push(new Star (myX,myY));
            // }

            // //Create building array
            // //First define building prototype
            // var Building = function(x,y,w,h,winHeight,triTop) {
            //     this.x = x;
            //     this.y = y;
            //     this.w = w;
            //     this.h = h;
            //     this.winHeight = winHeight;
            //     this.triTop = triTop;
            // }

            // var totalWidth = 0,  //Define totalWidth variable to stop creating buildings once the total width is greater than maxX
            // towerNum = 0,        //towerNum will limit the number of red-dot towers that can be created
            // lastBuildHeight = 0, //lastBuildHeight will ensure that two buildings of the same height are not adjacent to one another
            // buildingArray = []; //Now create an empty array and loop through it to fill it with Building objects
            // for (var i = 0; totalWidth < maxX; i++) {
            //     var myWinHeight = (Math.random() < 0.1) ? 20 : 10 ,
            //     myH = Math.ceil(Math.random() * 15) * myWinHeight,
            //     myW,
            //     myX,
            //     myY,
            //     myTop;
            //     //Check if height needs to be recalculated
            //     if (myH === lastBuildHeight) {
            //         myH = Math.ceil(Math.random() * 15) * myWinHeight;
            //     }
            //     myW = Math.ceil(Math.random() * 10) * 10;
            //     //Check if width needs to be recalculated
            //     if (myW === 10 && towerNum < 3) {
            //         myW = Math.ceil(Math.random() * 10) * 10;
            //     }
            //     if (myW <= 10) {
            //         myH += 40;
            //         towerNum += 1;
            //     }
            //     myX = totalWidth;
            //     myY = maxY - myH;
            //     myTop = (Math.random() < 0.1 && myW > 10) ? 1 : 0;
            //     buildingArray.push(new Building (myX,myY,myW,myH,myWinHeight,myTop));
            //     totalWidth += myW;
            //     lastBuildHeight = myH;
            // }

            // //Create window array
            // //First define window prototype
            // var Windowlight = function (x,y,lit,tall) {
            //     this.x = x;
            //     this.y = y;
            //     this.lit = lit;
            //     this.tall = tall;
            // }

            // //Create an array of windows and fill it
            // var windowLightArray = [];
            // for (var i = 0; i < buildingArray.length; i++) {
            //     if (buildingArray[i].w > 10) {
            //         for (var j = 0; j < buildingArray[i].w; j += 10) {
            //             for (var k = 0; k < buildingArray[i].h; k += buildingArray[i].winHeight) {
            //                 if (Math.random() < 0.1) {
            //                     var myX = (buildingArray[i].x + j) + 2,
            //                     myY = (buildingArray[i].y + k) + 2;
            //                     windowLightArray.push(new Windowlight(myX, myY, 1, buildingArray[i].winHeight));
            //                 }
            //                 else {
            //                     var myX = (buildingArray[i].x + j) + 2,
            //                     myY = (buildingArray[i].y + k) + 2;
            //                     windowLightArray.push(new Windowlight(myX, myY, 0, buildingArray[i].winHeight));
            //                 }
            //             }
            //         }
            //     }
            // }

            // //Create a prototype for red dots
            // var RedDot = function(x,y,myCounter) {
            //     this.x = x;
            //     this.y = y;
            //     this.myCounter = Math.ceil(Math.random() * 50);
            // }
            // //Create an array of red dots for towers of width 10 or less
            // var dotArray = [];

            // for (var i = 0; i < buildingArray.length; i++) {
            //     if (buildingArray[i].w === 10) {
            //         var myX = buildingArray[i].x + 5,
            //         myY = buildingArray[i].y - 5;
            //         dotArray.push(new RedDot (myX,myY));
            //     }
            // }

            // //Create the moon
            // var moonX = Math.ceil(Math.random() * (maxX / 2)) + 50,
            // moonY = Math.ceil(Math.random() * (maxY / 3)) + 50,
            // moonDir = (Math.round(Math.random()) < 0.5) ? -0.05 : 0.05,
                
            // //Create the shooting star
            // shootingStarX = Math.ceil(Math.random() * maxX),
            // shootingStarY = -10,
            // shootingStarDir = 0.5,
            // //Set variables to control the background color
            // bgTop = moonY / maxY,
            // fadeOut = 0;
                
            // document.addEventListener('click', function(e){
            // e.preventDefault();
            // shootingStarX = e.clientX;
            // shootingStarY = e.clientY;
            // });

            // function draw() {
            //     canDraw.clearRect(0,0,maxX,maxY);
            //     //Draw the backgrounds
            //     var bgGrad = canDraw.createRadialGradient(moonX,moonY,0,moonX,moonY,innerWidth);
            //     bgGrad.addColorStop(0, 'rgb(30,30,70)');
            //     bgGrad.addColorStop(1, 'rgb(5,5,15)');
            //     canDraw.fillStyle = bgGrad;
            //     canDraw.fillRect(0,0,maxX,maxY);
            //     bgTop = moonY / maxY;
                
            //     //Draw starfield
            //     for (var i = 0; i < starArray.length; i++) {
            //         canDraw.globalAlpha = 1 - (Math.random()/1.5);
            //         canDraw.fillStyle = "#FAF";
            //         canDraw.fillRect(starArray[i].x,starArray[i].y,1,1);
            //     }
            //     canDraw.globalAlpha = 1;
                
            //     //Shooting star drawing and logic
            //     canDraw.fillStyle = "#FFF";
            //     canDraw.beginPath();
            //     canDraw.arc(shootingStarX, shootingStarY, 1, 0, Math.PI*2);
            //     canDraw.fill();
            //     canDraw.beginPath();
            //     canDraw.arc(shootingStarX - 5, shootingStarY - 5, 0.66, 0, Math.PI*2);
            //     canDraw.fill();
            //     canDraw.beginPath();
            //     canDraw.arc(shootingStarX - 10, shootingStarY - 10, 0.5, 0, Math.PI*2);
            //     canDraw.fill();
            //     if (shootingStarX > maxX + 50 || shootingStarX < -20 || shootingStarY > maxY + 50) {
            //         if (Math.random() < 0.0015) {
            //             shootingStarX = Math.ceil(Math.random() * maxX);
            //             shootingStarY = -1;
            //         }
            //     }
            //     else {
            //         shootingStarX += 7;
            //         shootingStarY += 7;
            //     }
                
            //     //Draw moon and move it
            //     var moonGrad = canDraw.createRadialGradient(moonX,moonY,0,moonX,moonY,40);
            //     moonGrad.addColorStop(0.88, 'rgba(248,200,255,1)');
            //     moonGrad.addColorStop(1, 'rgba(255,255,255,0)');
            //     canDraw.fillStyle = moonGrad;
            //     canDraw.beginPath();
            //     canDraw.arc(moonX,moonY,40,0,Math.PI*2,0)
            //     canDraw.fill();
            //     moonX += moonDir;
            //     if (moonY > maxY + 50 || moonX > maxX + 50 || moonX < -42) {
            //         moonY = moonY;
            //     }
            //     else {
            //         moonY += 0.05;
            //     }
                
            //     //Draw buildings - dynamic foreground
            //     for (var k = 0; k < buildingArray.length; k++) {
            //         canDraw.fillStyle = "#000";
            //         canDraw.fillRect(buildingArray[k].x,buildingArray[k].y,buildingArray[k].w,buildingArray[k].h);
            //         if (buildingArray[k].triTop === 1) {
            //             canDraw.beginPath();
            //             canDraw.moveTo(buildingArray[k].x,buildingArray[k].y);
            //             canDraw.lineTo(buildingArray[k].x + buildingArray[k].w / 2, buildingArray[k].y - buildingArray[k].winHeight * 4);
            //             canDraw.lineTo(buildingArray[k].x + buildingArray[k].w, buildingArray[k].y);
            //             canDraw.fill();
            //         }
            //     }
                
            //     //Draw windows - dynamic foreground
            //     for (var j = 0; j < windowLightArray.length; j++) {
            //         if (windowLightArray[j].lit) {
            //             canDraw.fillStyle = "#EE9";
            //             canDraw.fillRect(windowLightArray[j].x,windowLightArray[j].y,6,windowLightArray[j].tall - 4);
            //             if (Math.random() < 0.00002) {
            //                 windowLightArray[j].lit = 0;
            //             }
            //         }
            //         else if (windowLightArray[j].lit === 0) {
            //             canDraw.fillStyle = "#020202";
            //             canDraw.fillRect(windowLightArray[j].x,windowLightArray[j].y,6,windowLightArray[j].tall - 4);
            //             if (Math.random() < 0.00001) {
            //                 windowLightArray[j].lit = 1;
            //             } 
            //         }
            //     }
            //     //Draw the red dot on towers with a width of 10
            //     for (var m = 0; m < dotArray.length; m++) {
            //         if (dotArray[m].myCounter % 100 > 50) {
            //             canDraw.fillStyle = "#F00";
            //         }
            //         else {
            //             canDraw.fillStyle = "#010203";
            //         }
            //         canDraw.beginPath();
            //         canDraw.arc(dotArray[m].x + 0.5,dotArray[m].y,2,0,Math.PI*2);
            //         canDraw.fill();
            //         dotArray[m].myCounter++;
            //     }
            //     canDraw.globalAlpha = 1;
            //     if (moonY > maxY || moonX > maxX + 40 || moonX < -40 && fadeOut < 1) {
            //     canDraw.fillStyle = 'rgba(0,0,0,' + fadeOut + ')';
            //     canDraw.fillRect(0,0,maxX,maxY);
            //     fadeOut += 0.005;
            //     }
            //     if (fadeOut >= 1) {
            //     fadeOut = 0;
            //     moonY = -50;
            //     moonX = 100 + (Math.random() * (innerWidth - 100));
            //     }
            //     window.requestAnimationFrame(draw);
            // }

            // draw();
        // </script>
        </div>
        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

        <!-- API key -->
        <script type="text/javascript" src="../js/config.js"></script>
        <!-- JS -->
        <script type="text/javascript" src="../js/map.js"></script>

        <!-- Google drawing function -->
        <!-- ####################REMOVE API BEFORE SUBMISSION api is between "="" and "&"" -->
        <script defer
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBziBa1em_bBCXGyYMJwelg4R-GnyMjgHE&libraries=drawing&callback=initMap">
        </script>


   
    </canvas></body>

</html>